---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getImage } from "astro:assets";
import aboutImage from "../../public/images/pfp-2.jpg";
import sideDesign from "../../public/images/knoxsite_sidedesign.png";
import titleAccent from "../../public/images/knoxsite_titleaccent.png";

const pageTitle = "About Me";
const optimizedAboutImage = await getImage({ src: aboutImage, width: 500 });
const optimizedSideDesign = await getImage({ src: sideDesign });
const optimizedTitleAccent = await getImage({ src: titleAccent });

const identity = {
  firstName: "Josh",
  country: "United States",
  occupation: "Software Engineer/Developer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <main class="relative flex gap-4 p-8 w-full">
        <h2
          id="about-me"
          class="absolute right-52 top-12 font-bold text-9xl tracking-wider uppercase rounded-2xl py-2 px-4"
        >
          {pageTitle}
        </h2>
        <img src={optimizedTitleAccent.src} class="absolute right-8 top-16" />
        <div class="flex gap-4 w-1/2">
          <img src={optimizedSideDesign.src} />
          <img
            src={optimizedAboutImage.src}
            {...optimizedAboutImage.attributes}
          />
        </div>
        <div
          id="about-me-text"
          class="flex flex-col gap-8 w-1/2 self-end rounded-2xl py-2 px-4"
        >
          <p>
            My name is Josh and thanks again for checking out the site! A little
            background here: I&apos;m a Software Engineer/Developer/<em
              >10x Engineer</em
            > from Florida. I&apos;ve been doing this stuff since 2020 where I began
            as a self-taught programmer. From self-taught to bootcamp to university,
            I&apos;ve used, and have experience, learning in just about every medium
            so I understand the ups and downs of them all.
          </p>
          <p>
            I got into this field because I always knew I wanted to be at a
            computer - probably because of my love for video games - and I knew
            I had to be doing something creative. So here we are fellow nerds,
            doing stuff n&apos; things, hopefully making cool apps and solving
            the worlds problems one bug at a time! Also, this blog will
            hopefully serve a couple of purposes for me: One, to act as sort of
            a technical journal for the things I learn along my travels in the
            industry and to share random things I find helpful or cool. Two, to
            share my story and experiences in hopes that someone like yourself
            can find some help, relatability, and feel a little less lonely in
            the developer realm - lord knows it gets dark in here sometimes.
          </p>
          <!-- <p>
            I have always been tech-savvy since I was a kid, but I officially
            began my developer journey back in 2020 after realizing I needed to
            create things. I found myself bored most days just grinding away in
            retail and thought, you know what, I want to make stuff, and since I
            am an avid gamer I started thinking heavily about becoming a
            programmer. This is when I packed my bags and officially hit the
            road! My travels have taken me through countless tutorials, blog
            posts, and the obvious deep dive into modern day web development.
          </p>
          <p>
            Shortly into my self-taught journey, about 6 months or so, I felt
            too disorganized. Jumping from topic to topic and not fully grasping
            what I was learning, I chose to attend my local community college in
            hopes it would meld some of those gaps and provide a better learning
            path thatn I had done for myself. While it provided a little more
            context and understanding, along with a better foundation than my
            previous efforts, that particular school did not set me up as much
            as I had hoped. From here, I joined a bootcamp (yaa yaa, I can
            already hear the eye-rolls... bite me) to build some real-world
            projects and get hands on with the whole collaboration thing.
            Luckily enough, I had an amazing instructor, and to this day, is a
            great friend and mentor! Just before finishing up, I was hired as a
            full-time engineer at a local company on a 1 year contract. I was
            given a ton of freedom to learn and make mistakes and could not have
            asked for a better role and set of mentors there; I will forever be
            greatful for that opportunity.
          </p>
          <p>
            Fast forward a bit to 2024, I have saved up enough funds - along
            with the help of family - and have enrolled at Herzing University as
            I believe it to offer some fantastic programming courses! (Again...
            If you fault me for this, I like college because it gives me
            structure where I fail to do so myself). I am still out here making
            stuff n' things and love what programming can offer and has done for
            me and the joy that it brings. Remember, it isn't always going to be
            easy, and no two people will have the same path, but we all will get
            to where we want to be if we keep at it! Happy coding and enjoy the
            content fellow nerds!👋
          </p> -->
        </div>
      </main>
      <!-- <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul> -->

      <!-- {happy && <p>I am happy to be learning Astro!</p>}
      {finished && <p>I finished this tut!</p>}
      {
        goal === 3 ? (
          <p>My goal is to finish in 3 days.</p>
        ) : (
          <p>My goal is not 3 days.</p>
        )
      } -->
    </BaseLayout>
  </body>
</html>

<style>
  #about-me {
    background-color: #ffd8d8;
  }

  #about-me-text {
    background-color: #fefaf0;
  }
</style>
