---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Tech Journal";
const allPosts = await getCollection("posts");
const types = ["Video", "Article"];
const tags = [
  "Personal",
  "DSA",
  "Next.js",
  "React",
  "JavaScript",
  "TypeScript",
  "Frontend",
  "Backend",
  "Python",
  "Flask",
  "SQL (Squeal)",
  "PHP",
  "Laravel",
  "Docker",
  "Web Development",
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <!-- <h1>Posts</h1> -->
      <main class="grid grid-cols-3 gap-4 pb-4">
        <div class="col-span-2">
          {
            allPosts.map((post) => (
              <BlogPost
                image={post.data.image.url}
                alt={post.data.image.alt}
                url={`/posts/${post.slug}/`}
                tags={post.data.tags}
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
              />
            ))
          }
        </div>
        <section
          id="categories"
          class="flex flex-col gap-6 py-2 px-4 mb-4 rounded-2xl"
        >
          <div>
            <h2>By Type</h2>
            <div class="flex flex-wrap gap-2">
              {
                types.map((type) => (
                  <p class="type w-max text-center rounded-2xl py-2 px-4 text-sm">
                    {type}
                  </p>
                ))
              }
            </div>
          </div>
          <div>
            <h3>By Tag</h3>
            <div class="flex flex-wrap gap-2">
              {
                tags.map((tag) => (
                  <button class="tag w-max text-center rounded-2xl py-2 px-4 text-sm">
                    {tag}
                  </button>
                ))
              }
            </div>
          </div>
        </section>
      </main>
    </BaseLayout>
  </body>
</html>

<style>
  .selected {
    background-color: #007bff;
    color: white;
  }

  .hidden {
    display: none;
  }

  #categories {
    background-color: rgb(255, 250, 240);
  }

  .type,
  .tag {
    background-color: #ffe1de;
  }
</style>

<script src="../scripts/tagFilters.ts"></script>
