---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Blog";
const allPosts = await getCollection("posts");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>So you have come for the tea eh?</h2>
      <p>This site is a work in progress (WIP), please do check back later!</p>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
          ))
        }
      </ul>
    </BaseLayout>
  </body>
</html>
