---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Blog";
const allPosts = await getCollection("posts");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h1>Posts</h1>
      <p>This site is a work in progress (WIP), please do check back later!</p>
      <main class="grid grid-cols-3">
        <div class="col-span-2">
          {
            allPosts.map((post) => (
              <BlogPost
                image={post.data.image.url}
                alt={post.data.image.alt}
                url={`/posts/${post.slug}/`}
                tags={post.data.tags}
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
              />
            ))
          }
        </div>
        <section class="flex flex-col gap-6">
          <div>
            <h2>By Type</h2>
          </div>
          <div>
            <h3>By Tag</h3>
          </div>
        </section>
      </main>
    </BaseLayout>
  </body>
</html>
